<!DOCTYPE html>
<html>

<head>

    <title>Manage Courses</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='admin.css') }}">

</head>

<body>

<div class="layout">

<aside class="sidebar">

<h2>FD KHAN</h2>

<a href="{{ url_for('admin.dashboard') }}">
Dashboard
</a>

<a href="{{ url_for('admin.courses') }}">
Courses
</a>

<a href="{{ url_for('auth.logout') }}">
Logout
</a>

</aside>

<main class="main">

<h1>Manage Courses</h1>

<a class="btn"
href="{{ url_for('admin.add_course') }}">

+ Add Course

</a>

<br><br>
{% if courses %}

<table>


<tr>
    <th>Title</th>
    <th>Grade</th>
    <th>Subject</th>
    <th>Price</th>
    <th>Actions</th>
</tr>

{% for course in courses %}

<tr>

    <td>{{ course.title }}</td>

    <td>{{ course.grade }}</td>

    <td>{{ course.subject }}</td>

    <td>${{ course.price }}</td>

    <td>

<a class="btn"
href="{{ url_for('admin.manage_lessons', course_id=course.id) }}">
Lessons
</a>


<a class="btn"
href="{{ url_for('admin.edit_course', course_id=course.id) }}">
Edit
</a>


<a class="delete-btn"
href="{{ url_for('admin.delete_course', course_id=course.id) }}"
onclick="return confirm('Delete this course? All lessons will also be deleted.')">
Delete
</a>


</td>
    

</tr>

{% endfor %}

</table>


{% else %}

<p>No courses yet.</p>

{% endif %}

</main>

</div>

</body>

</html>