
{% extends "base.html" %}

{% block title %}
FD Khan Academy
{% endblock %}

{% block content %}

<section class="hero">

    <div class="terminal-box">

        <div class="terminal-top">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
        </div>

        <h1 id="typing-text" class="typing"></h1>

        <p class="subtitle">

            Mathematics • Information Technology • Academic Excellence

            <br><br>

            Helping high school students build confidence,
            master IT and Mathematics,
            and achieve exceptional academic results.

        </p>

        <a href="{{ url_for('booking.booking_page') }}" class="btn">

            Book A Session

        </a>

    </div>

</section>

<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}