<!-- services.html -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Services | FD Khan Academy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <div class="logo">
        FD KHAN ACADEMY
    </div>

    <nav>

         <a href="{{ url_for('home') }}">Home</a>

        <a href="{{ url_for('services') }}">Services</a>

        <a href="{{ url_for('about') }}">About</a>

       <a href="{{ url_for('booking') }}">Booking</a>

        <a href="{{ url_for('store') }}">Online Store</a>

    </nav>

</header>

<section class="section">

    <div class="container">

        <h1 class="section-title">
            Our Services
        </h1>

        <div class="card-grid">

            <div class="card">

                <h3>Mathematics Tutoring</h3>

                <p>
                    Comprehensive mathematics tutoring
                    focused on conceptual understanding,
                    problem-solving, and exam preparation.
                </p>

            </div>

            <div class="card">

                <h3>Information Technology</h3>

                <p>
                    Information Technology tutoring covering
                    practical, theory 
                    and analytical thinking.
                </p>

            </div>

            <div class="card">

                <h3>Online Lessons</h3>

                <p>
                    Flexible virtual learning sessions
                    designed to support students anywhere
                    with guided explanations and resources.
                </p>

            </div>

        </div>

    </div>

</section>

<footer>
    © 2026 FD Khan Academy
</footer>

</body>

</html>